*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border{
    border: 2px solid red;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
}

.navbar ul{
    list-style-type: none;
    display: inline-block;
    background-color: transparent;
    padding:0;
    margin:0;
    overflow: hidden;
}

.navbar a{
    color:#ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-right:25px;
    transition: 0.3s;
}

.navbar a:hover{
    background-color: #ff59c7;
    color: #000000;
    font-weight: bold;
}

.navbar li{
    float: left;
}

.video_container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform-origin: center;
    animation: header-fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

#bp_video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25px;
    object-fit: cover;
}

.bp_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.bp_title h1{
    margin: 0;
    line-height: 1;
    font-size: 10em;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #000000, #ffffff, #ffa6fc, #ff94e0, #ff76d8, #ff59c7, #ffffff, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 15s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    text-align: center;
}

.content-group{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    margin-top: 7%;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 20%;
}

.content-group p{
    font-size: 16px;
    margin-left: 8%;
    margin-right: 2%;
    text-align: left;
}

.content-and-pic{
    display: flex;
    margin-top: 20px;
}

.group-pic{
    width: 40%;
    height: 90%;
    margin-right: 8%;
    border-radius: 10px;
}

.container-divider{
    text-align: center;
}

.inline-block-container{
    margin-top: 8%;
    display: inline-block;
    place-content: center;
}

.member-divider {
    text-align: center;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end infinite alternate;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
} 

@keyframes cursor{
    50% {
        border-color: transparent;
    }
}

@keyframes typing{
    from { width: 0; }
}

.member-divider{
    margin-top: 8%;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

.h1-member-names{
    font-size: 70px;
}

.div-member-general-layout{
    display: flex;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
}

table{
    text-align: left;
    margin-bottom: 2%;
    font-size: 18px;
    width: 100%;
    border-collapse: collapse;
}

th, tr{
    width: 10vw;
}

th{
    font-weight: 600;
    border-right: 1px #ff76d8 solid;
}

td{
    padding-left: 6%;
    white-space: normal;
}

.div-member-content-layout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    gap: 25px;
}

.Jisoo-content{
    margin-left: 3%;
    animation: fade-in linear;
    transform-origin: right;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
}

.Jisoo-pic{
    background-image: url('Members/Jisoo_Portrait_BW.png'); 
    width: 30%;
    opacity: 0.8;
    border-radius: 20%;
    transform: scale(1);
    animation: fade-in linear;
    transform-origin: left;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Jisoo-pic:hover {
    width: 30%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    content: url('Members/Jisoo_Portrait.png');
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Jennie-content{
    margin-right: 3%;
    animation: fade-in linear;
    transform-origin: left;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
}

.Jennie-pic{
    background-image: url('Members/Jennie_Portrait_BW.png');
    width: 30%;
    height: 30%;
    opacity: 0.8;
    border-radius: 20%;
    transform: scale(1);
    animation: fade-in linear;
    transform-origin: right;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Jennie-pic:hover {
    width: 30%;
    height: 30%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    content: url('Members/Jennie_Portrait.png');
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Rose-content{
    margin-left: 3%;
    animation: fade-in linear;
    transform-origin: right;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
}

.Rose-pic{
    background-image: url('Members/Rose_Portrait_BW.png');
    width: 30%;
    border-radius: 20%;
    opacity: 0.8;
    transform: scale(1);
    animation: fade-in linear;
    transform-origin: left;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Rose-pic:hover {
    width: 30%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    content: url('Members/Rose_Portrait.png');
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Lisa-content{
    margin-right: 3%;
    animation: fade-in linear;
    transform-origin: left;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
}

.Lisa-pic{
    background-image: url('Members/Lisa_Portrait_BW.png');
    width: 30%;
    height: 40%;
    opacity: 0.8;
    border-radius: 20%;
    transform: scale(1);
    animation: fade-in linear;
    transform-origin: right;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 40%;
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Lisa-pic:hover {
    width: 30%;
    height: 40%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    content: url('Members/Lisa_Portrait.png');
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.footer-content{
    color: #000000;
    text-align: center;
    font-size: 25px;
    margin-top: 8%;
    margin-bottom: 1%;
    font-weight: normal;
    background-color: #ff94e0;
    margin-bottom: auto;
}

/* ANIMATIONS */

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes fade-in{
    from{
        scale: 0.8;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

@keyframes header-fade-out{
    85%, 100%{
        opacity: 0;
        scale: 2;
    }
}
