/* HOVER */

.navbar a:hover{
    background-color: #ff59c7;
    color: #000000;
    font-weight: bold;
}

.Jisoo-pic:hover {
    content: url(../Members/Jisoo_Portrait.png);
    width: 30%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Jennie-pic:hover {
    content: url(../Members/Jennie_Portrait.png);
    width: 30%;
    height: 30%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Rose-pic:hover {
    content: url(../Members/Rose_Portrait.png);
    width: 30%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

.Lisa-pic:hover {
    content: url(../Members/Lisa_Portrait.png);
    width: 30%;
    height: 40%;
    border-radius: 3%;
    opacity: 1;
    transform: scale(1);
    transition: width 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s ease-in-out;
}

/* ANIMATIONS */

@keyframes cursor{
    50% {
        border-color: transparent;
    }
}

@keyframes typing{
    from { width: 0; }
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes fade-in{
    from{
        scale: 0.8;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade-in-pictures{
    from{
        scale: 0.8;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 0.6;
    }
}

@keyframes header-fade-out{
    85%, 100%{
        opacity: 0;
        scale: 2;
    }
}